{% extends 'apps/base/base-page.html' %}
{% load humanize %}
{% block body %}
    <div class="card mb-3" id="ordersTable"
         data-list="{&quot;valueNames&quot;:[&quot;order&quot;,&quot;date&quot;,&quot;address&quot;,&quot;status&quot;,&quot;amount&quot;],&quot;page&quot;:10,&quot;pagination&quot;:true}">
        <div class="card-header">
            <div class="row flex-between-center">
                <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
                    <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Orders</h5>
                </div>
                <div class="col-8 col-sm-auto ms-auto text-end ps-0">
                    <div class="d-none" id="orders-bulk-actions">
                        <div class="d-flex">
                            <select class="form-select form-select-sm" aria-label="Bulk actions">
                                <option selected="">Bulk actions</option>
                                <option value="Refund">Refund</option>
                                <option value="Delete">Delete</option>
                                <option value="Archive">Archive</option>
                            </select>
                            <button class="btn btn-falcon-default btn-sm ms-2" type="button">Apply</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive scrollbar">
                <table class="table table-sm table-striped fs--1 mb-0 overflow-hidden">
                    <thead class="bg-200 text-900">
                    <tr>
                        <th class="sort pe-1 align-middle white-space-nowrap" data-sort="order">Order</th>
                        <th class="sort pe-1 align-middle white-space-nowrap pe-7" data-sort="date">Date</th>
                        <th class="sort pe-1 align-middle white-space-nowrap" data-sort="address"
                            style="min-width: 12.5rem;">Ship To
                        </th>
                        <th class="sort pe-1 align-middle white-space-nowrap text-center" data-sort="status">Status</th>
                        <th class="sort pe-1 align-middle white-space-nowrap text-end" data-sort="amount">Amount</th>
                        <th class="no-sort"></th>
                    </tr>
                    </thead>
                    <tbody class="list" id="table-orders-body">
                    {% for order in orders %}
                        <tr class="btn-reveal-trigger">
                            <td class="order py-2 align-middle white-space-nowrap"><a
                                    href="#">
                                <strong>#{{ order.pk }}</strong></a> by
                                <strong>{{ order.fullname }}</strong><br><a href="#">{{ order.phone_number }}</a>
                            </td>
                            <td class="date py-2 align-middle">{{ order.created_at|date:"d/m/Y" }}</td>
                            <td class="address py-2 align-middle white-space-nowrap">{{ order.fullname }},{{ order.district.region.name }},{{ order.district.name }}
                            </td>
                            <td class="status py-2 align-middle text-center fs-0 white-space-nowrap"><span
                                    class="badge badge rounded-pill d-block badge-soft-success">{{ order.status }}
                                <svg
                                        class="svg-inline--fa fa-check fa-w-16 ms-1" data-fa-transform="shrink-2"
                                        aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
                                        role="img"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""
                                        style="transform-origin: 0.5em 0.5em;"><g transform="translate(256 256)"><g
                                        transform="translate(0, 0)  scale(0.875, 0.875)  rotate(0 0 0)"><path
                                        fill="currentColor"
                                        d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                                        transform="translate(-256 -256)"></path></g></g></svg>
                                <!-- <span class="ms-1 fas fa-check" data-fa-transform="shrink-2"></span> Font Awesome fontawesome.com --></span>
                            </td>
                            <td class="amount py-2 align-middle text-end fs-0 fw-medium">{{ order.total|floatformat:"0"|intcomma }}</td>
                        <td class="py-2 align-middle white-space-nowrap text-end">
                        <div class="dropdown font-sans-serif position-static">
                          <div class="dropdown-menu dropdown-menu-end border py-0" aria-labelledby="order-dropdown-0">
                            <div class="bg-white py-2"><a class="dropdown-item" href="#!">Completed</a><a class="dropdown-item" href="#!">Processing</a><a class="dropdown-item" href="#!">On Hold</a><a class="dropdown-item" href="#!">Pending</a>
                              <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Delete</a>
                            </div>
                          </div>
                        </div>
                      </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}