{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Operatorlar bo'limi
        - alijahon.uz</title>
    <link rel="stylesheet" href="{% static 'apps/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'apps/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css" rel="stylesheet">
    <style>
        select {
            width: 100%;
        }
    </style>

</head>
<body>
<div>
    <nav class="navbar navbar-dark bg-dark text-white" style="height: 10%;">


        <div style="margin-left: 15px;"><a href="/operator/prodcut_add">Zakaz + </a></div>


        <div>Buyurtmalar</div>
        <h4>ID: {{ request.user.id }} </h4>
        <a href="{% url 'home' %}" class="btn btn-danger btn-sm">Asosiy panel</a>
    </nav>
    <div class="row">
        <div class="col-md-2 h-70 text-center" style="background-color: #38ffae; padding-right: 0; position:absolute;">
            <div class="list-group text-light w-100 h-100">
                {% for s in status %}
                    <a href="{% url 'operator-orders' %}?status={{ s }}"
                       class="btn btn-primary list-group-item text-dark mt-1 {% if not request.GET.status and s == "new" %} active {% elif request.GET.status == s %} active {% else %} {% endif %}">

                        <h6>{{ s|title }}</h6>
                    </a>

                {% endfor %}


            </div>
        </div>
        <div class="col-md-10" style="margin-left: 16%;">
            <div class="bg-light w-75 m-auto mt-5">
                <form method="get" action="{% url 'operator-orders' %}">
                    {#                    <form method="post" action="{% url 'operator' %}?status={{ request.GET.status }}">#}
                    <p>
                        <label for="id_category">Category:</label>
                        <select name="category_id" class="form-control">
                            <option value=""{% if not category_id %}selected{% endif %}>All category</option>

                            {% for category in categories %}
                                {% if category_id %}{% endif %}
                                <option value="{{ category.pk }}"{% if category_id == category.pk%}selected{% endif %}>{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </p>

                    <p>
                        <label for="id_region">Region:</label>
                        <select class="form-control" id="id_region">
                            <option value="">All selected</option>

                            {% for region in regions %}
                                <option value="{{ region.pk }}" {% if district_region == region.pk %}
                                        selected {% endif %} >{{ region.name }}</option>
                            {% endfor %}
                        </select>

                    <p>
                        Shahar/Tuman
                        <select class="form-control" id="id_district" name="district_id">
                            <option value="">Tumanni tanlang</option>
                            {% if district %}
                                <option value="{{ district.pk }}" selected>{{ district.name }}</option>
                            {% endif %}
                        </select>
                    </p>

                    <input type="hidden" name="status" value="{{ request.GET.status }}">
                    <button type="submit">Search</button>
                </form>

                {% for order in orders %}
                    <div class="card border-dark mt-5">
                        <div class="card-body">
                            <h2 class="card-title">{{ order.product.name }}
                                - {{ order.total|floatformat:0|intcomma }} so'm</h2>
                            <h3 class="card-title text-danger">ZAKAZ ID: #{{ order.id }}</h3>
                            <ul class="text-muted">
                                {% if order.thread %}
                                    <li class="">Reklama tarqatuvchi ID: {{ order.thread.owner.id }}</li>
                                {% endif %}
                                <li class="">Client: {{ order.name }} - +9989XXXXXXXX</li>
                                <li class="">Address: {{ order.district.region.name }}
                                    , {{ order.district.name }}</li>
                                <li class="">
                                    Narxi: {{ order.total|floatformat:0|intcomma }} so'm
                                </li>

                                <li class="">Soni: {{ order.quantity }}ta</li>
                                <li class="">Yetkazish vaqti: {{ order.delivery_date|date:'Y-m-d' }}</li>
                                <li class="">Yaratilgan vaqti: {{ order.created_at|date:'Y-m-d H:i:s' }}</li>
                                <li class="">Yangilangan vaqti: {{ order.updated_at|date:'Y-m-d H:i:s' }}</li>
                                <li class="">Holati: {{ order.status }}</li>
                            </ul>
                            {% if order.status != 'completed' %}
                                {% if  order.hold %}
                                    <button class="btn btn-light" disabled=""
                                            style="float: left; margin-right: 10px;">
                                        Hold
                                    </button>
                                {% else %}
                                    <a  href="{% url 'order-detail' order.pk%}" class="btn btn-primary"
                                            style="float: left; margin-right: 10px;">
                                        Qabul qilish
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{#<script type="text/javascript">#}
{#    $(document).ready(function () {#}
{#        $('#id_region').change(function () {#}
{#            var region_id = $(this).val();#}
{#            if (region_id) {#}
{#                $.ajax({#}
{#                    url: '{% url "get_districts" %}',#}
{#                    data: {#}
{#                        'region_id': region_id#}
{#                    },#}
{#                    success: function (data) {#}
{#                        $('#id_district').empty();#}
{#                        $('#id_district').append('<option value="">Tumanni tanlang</option>');#}
{#                        $.each(data, function (key, value) {#}
{#                            $('#id_district').append('<option value="' + value.id + '">' + value.name + '</option>');#}
{#                        });#}
{#                    }#}
{#                });#}
{#            } else {#}
{#                $('#id_district').empty();#}
{#                $('#id_district').append('<option value="">Tumanni tanlang</option>');#}
{#            }#}
{#        });#}
{#    });#}
{#</script>#}
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
<script src="{% static 'apps/js/regions_filter.js' %}"></script>
<script>
    $(function () {
        $('select').multipleSelect({
            multiple: true,
            multipleWidth: 500,
            maxHeight: 200,
            maxHeightUnit: 50,
            filter: true
        })
    })
</script>
<script>
    $(document).ready(function () {
        $('#region-select').change(function () {
            var regionId = $(this).val();
            var $districtSelect = $('#district-select');
            $districtSelect.empty();
            $districtSelect.append('<option value="">All District</option>');

            if (regionId) {
                $.ajax({
                    url: 'operator/ajax/get-districts/' + regionId + '/',
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        $.each(data, function (index, district) {
                            $districtSelect.append('<option value="' + district.id + '">' + district.name + '</option>');
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error('An error occurred:', error);
                    }
                });
            }
        });
    });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% include 'apps/base/scripts.html' %}

</body>
</html>